.call {
  z-index: 10;

  position: fixed;
  bottom: 100px;
  right: 100px;

  .icon {
    width: 70px;
    height: 70px;

    background-image: url(../../public/icons/call.png);
    background-size: cover;

    animation: grow-rotate-shrink 5s infinite; 
  }
}

.call .icon::before,
.call .icon::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  border: 1px solid #0DE727;
  border-radius: 50%;
  animation: ring 5s infinite;
  z-index: 1;
}

.call .icon::after {
  animation-delay: 1s; 
}


@keyframes grow-rotate-shrink {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.2) rotate(360deg);
  }
  100% {
    transform: scale(1) rotate(720deg);
  }
}

@keyframes ring {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.8); 
    opacity: 0; 
  }
}

@media screen and (max-width: 800px) {
  .call {
    bottom: 50px;
    right: 50px;

    .icon {
      width: 50px;
      height: 50px;
    }
  }

  .call .icon::before,
  .call .icon::after {
    width: 50px;
    height: 50px;
  }

}