.help {
  position: relative;
  color: black; 
  background: linear-gradient(180deg, white 0%, rgba(12, 11, 11, 0) 100%), url(../../public/help.jpg) 100% / cover no-repeat;

  li {
    font-size: 24px;
  }
}

