@use '../utils/variables.scss';

.contacts_wrapper {
  display: flex;
  justify-content: space-around;
}

.contacts {
  h3, h4 {
    padding: 5px 0;
  }
  a {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 20px;

    color: black;
    font-weight: 700;

    cursor: pointer;

    transition: all 0.4;
    .icon {
      width: 30px;
      height: 30px;

      background-size: cover;
    }
    span {
      font-size: 20px;
    }
  }
  #phone {
    background-image: url(../../public/icons/phone.png);
  }
  #mail {
    background-image: url(../../public/icons/mail.png);
  }
  #dest {
    background-image: url(../../public/icons/dest.png);
  }
  #feedback {
    background-image: url(../../public/icons/feedback.png);
  }
}

.avatar {
  grid-area: slider;
  width: 600px;
  height: 600px;
  background-image: url(../../public/slider/slide1.jpg);
  background-size: cover;
}

@media screen and (max-width: 930px) {
  .contacts_wrapper {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 640px) {
  .contacts_wrapper {
    .avatar {
      width: 400px;
      height: 400px;
    }
  }
  .contacts {
    a {
      .icon {
        width: 20px;
        height: 20px;
      }
    }
    
  }
}

@media screen and (max-width: 430px) {
  .contacts_wrapper {
    .avatar {
      width: 300px;
      height: 300px;
    }
  }
}

@media (hover:hover) {
  .contacts {
    a:hover {
      color: variables.$gold;
    }
  }
}