@use './utils/variables.scss';
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: variables.$main_font;
  font-size: 16px;
  overflow-x: hidden;
}

#root {
  margin: 0;
}


a{
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

h1, h2, h3, p {
  margin: 0;
}

h2 {
  margin-bottom: 20px;

  font-size: 42px;
  font-weight: 800;
  color: variables.$gold;
  text-align: center;
}

section {
  padding: 10px 60px;

  p {
    font-size: 24px;
    margin-bottom: 20px;
  }

  h3 {
    padding: 20px 0;
    font-size: 26px;
  }

  ul {
    padding-bottom: 10px;
    padding-left: 40px;
    font-size: 20px;
  }
}