nav {
  padding: 20px 60px;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  align-items: center;

  a {
    color: white;
    font-size: 24px;
    transition: all 0.3s;
  }
}

@media (hover:hover) {
  nav a:hover {
    transform: scale(1.1);
  }
}
// @media screen and (max-width: 790px) {
// }