.badge_wrapper {
  display: grid;
  grid-template-columns: 40px 1.5fr 1fr;
  grid-template-areas: 
  "icon name badge";
  gap: 20px;

  color: white;

  a {
    color: white;
    transform: scale(1);
    transition: all 0.4s;
  }
  .icon {
    grid-area: icon;
    width: 35px;
    height: 35px;
    background-image: url(../../public/icons/lawyer.png);
    background-size: cover;
  }

  .name {
    grid-area: name;
    display: flex;
    flex-direction: column;

    .small_text {
      font-size: 14px;
      font-weight: 600;
    }
  }

  .badge {
    grid-area: badge;
  }
}

@media screen and (max-width: 8600px) {
  .badge_wrapper {
    grid-template-columns: 50px 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    ". name"
    "icon badge";
    column-gap: 10px;
    row-gap: 0;

    .badge {
      margin-left: 0;
      display: flex;
      flex-direction: column;
    }
  }

  .icon {
    width: 50px;
    height: 50px;
  }

  .small_text {
    display: none;
  }
}


@media (hover: hover) {
  .badge_wrapper {
    a:hover {
      transform: scale(1.1);
    }
  }

}